<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by Jonathan. An aspiring web developer and software engineer whose background consists of a variety of engineering and business expertise. Getting his start at the Colorado School of Mines with a degree in Chemical Engineering and a Minor in Economics, Jonathan went on to work in fields supporting these degrees.
  </p>
  <br />
   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jonathan.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jonathan Garton</h2>
      <br />
  <p>
    From research and developement of alternative energies to industrial automation, his skills have grown, but his passion remains the same; to improve the world we live in. With the ever growing need for software developement and their engineers, he has taken his skills to the world of computers to design and impliment the latest and greatest of technology.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'marco.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Marco Morawec</h2>
      <br />
      <p>
        Marco Morawec is a web developer and user experience product manager. He consulted Fortune 500 companies like P&G and John Deere, won Boston's biggest Hackathon (<a target="_blank" href="http://www.angelhack.com/">Angelhack</a>) and most recently led the user experience for <a target="_blank" href="https://www.peertransfer.com/">peerTransfer</a>, building a $500M/year international tuition payment platform. In an earlier life, he travelled around the world on <a target="_blank" href="http://25dollartravel.com">$25/day</a> for an entire year.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'ken.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ken Mazaika</h2>
      <br />
      <p>
        Ken Mazaika is a web developer and Ruby on Rails contributor. Previously he was a tech lead at Where.com (<a target="_blank" href="http://bostinno.streetwise.co/2011/04/13/nearbuys-where-rolls-out-daily-deals/">acquired by PayPal</a>) and a member of the PayPal/eBay development team in Boston. In a previous life he turned a <a target="_blank" href="http://yourfreequotes.com/">health insurance quotes generator</a> from a $400/day web application into a $40,000/day business.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />